body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;

    /* background-color: #db89896e; */
    /* background-color: rgba(0, 0, 0, 0.945); */
    background: linear-gradient(to bottom right, rgb(9, 8, 39) 0%, rgb(66, 9, 9) 71%, rgb(22, 10, 43) 100%);

    /* display: flex;
    flex-direction: column; */
    overflow: hidden;
    overflow-y: scroll;
}
.header{
    text-align: center;

    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.36em;

    color: #e4e4e4;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav{
    position: sticky;
    top: 0;
    z-index: 1;
}
.topNav{
    height: 50px;
    /* background: #272727; */
    background: linear-gradient(to right, rgb(5, 4, 20) 0%, rgb(39, 5, 5) 71%, rgb(12, 6, 24) 100%);
    box-shadow: 0px 11px 34px 5px rgba(0, 0, 0, 0.795);

    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.topNav > .links{
    z-index: 100;
}
.topNav > .links >a:hover{
    color: white;
    filter: blur(.5px);
}
.logo-srch{
    display: flex;
    align-items: center;
}
.icon > img{
    /* top: 5px;
    left: 25px; */
    /* position: absolute; */
    padding: 5px 0px 0px 25px;
    height: 80%;
    justify-self: start;
}
.search-top{
    margin-left: 30px;
}
.search-top > input{
    background: #D9D9D9;
    box-shadow: inset 9px 9px 8px rgba(0, 0, 0, 0.47);
    border: none;
    border-radius: 11px;
}
.links{
    color: rgba(255, 255, 255, 0.712);
    margin-right: 85px;
}
.links > *{
    margin: 0px 10px;
}
.links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}
.links > .user-top{
    display: inline-block;
    border: none;
    text-align: center;
    color: #000000;
    width: 60px;
    background: #45E2BD;
    border-radius: 48px;
}

.burger, .btn-berger{
    background-color: transparent;
    margin-right: 20px;
    order: 3;
    border: none;
    width: 20px;
    display: none;
}
.chk{
    position: absolute;
    right: 10px;
    top: -5px;
    width: 20px;
    height: 50px;
    display: none;
}


/* main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.644);
    width: 100%;
}
.main-top{
    background-color: rgba(0, 0, 0, 0.466);
    display: flex;
    padding: 20px;
}
.main-top-left{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-top-right{
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.644);
    flex: 1;
}
.main-top-right > p{
    margin-top: 30px;
    letter-spacing: 2px;
}
.video > video{
    border-radius: 20px;
}
.main-bottom{
    display: flex;
}
.main-bottom-left{
    margin-left: 50px;
    flex: 1;
}
.main-bottom-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger, .btn-berger{
    background-color: transparent;
    margin-right: 20px;
    order: 3;
    border: none;
    width: 20px;
    display: none;
}
.chk{
    position: absolute;
    right: 10px;
    top: -5px;
    width: 20px;
    height: 50px;
    display: none;
}
@media (max-width: 1000px){
    .header{
        display: none;
    }
    .topNav{
        height: 50px;
    }
    .links{
        position: absolute;
        top: -150px;
        right: -100px;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-right: 5px;
        /* background-color: rgba(0, 0, 0, 0.774); */
        background: #1b1b1bfb;
        padding: 20px 10px;
        /* box-sizing: border-box; */
        /* display: none; */
    }
    .links > a {
        box-sizing: border-box;
        padding: 10px;
        margin: 5px 0px;
        text-align: center;
        padding-right: 10px;
        width: 100%;
    }
    .links > a:hover{
        background-color: rgb(49, 49, 49);
        border: solid 1px rgb(219, 219, 219);
        border-width: 0px 1px;
    }
    .links >.user-top{
        background-color: transparent;
        width: 100%;
        text-align: center;
        border-radius: 0;
        color: white;
    }
    .btn-berger, .burger{
        display: inline-block;
    }
    .chk{
        display: inline-block;
        opacity: 0;
    }
    .chk:checked ~ .links{
        right: -10px;
    }
    .main-top, .main-bottom{
        flex-direction: column;
    }
}