body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* background-color: rgba(0, 0, 0, 0.973); */
    background: linear-gradient(to bottom right, rgb(9, 8, 39) 0%, rgb(66, 9, 9) 71%, rgb(22, 10, 43) 100%);
    display: flex;
    flex-direction: column;
}
.header{
    text-align: center;

    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 1.36em;

    color: #e4e4e4;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav{
    position: sticky;
    top: 0;
}
.topNav{
    height: 50px;
    background: #272727;
    /* box-shadow: 0px 11px 34px 5px rgba(0, 0, 0, 0.795); */
    background: linear-gradient(to right, rgb(5, 4, 20) 0%, rgb(39, 5, 5) 71%, rgb(12, 6, 24) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 12; */
}

/* .topNav > .links{
    z-index: 100;
} */
.logo-srch{
    display: flex;
    align-items: center;
}
.icon > img{
    /* top: 5px;
    left: 25px; */
    /* position: absolute; */
    padding: 5px 0px 0px 25px;
    height: 80%;
    justify-self: start;
}
.search-top{
    margin-left: 30px;
}
.search-top > input{
    background: #D9D9D9;
    box-shadow: inset 9px 9px 8px rgba(0, 0, 0, 0.47);
    border: none;
    border-radius: 11px;
}
.links{
    color: rgba(255, 255, 255, 0.712);
    margin-right: 85px;
}
.links > *{
    margin: 0px 10px;
}
.links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}
.links > .user-top{
    display: inline-block;
    border: none;
    text-align: center;
    color: #000000;
    width: 60px;
    background: #45E2BD;
    border-radius: 48px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    /* z-index: -1; */
}
.pictures{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    /* z-index: -1; */
}
.pictures > *{
    margin: 0px 15px;
}
.main-picture{
    width: 227px;
    height: 222px;

    background: url(./resources/images/sun.jfif);
    background-size:cover;
    background-position: center;
    box-shadow: 16px 17px 18px -6px rgba(0, 0, 0, 0.767);
    border-radius: 25px;
}
.second-picture{
    width: 857px;
    height: 222px;
    background: url(./resources/images/2\ peple.jpg);
    background-size: cover;
    background-position: 0px;
    box-shadow: 16px 17px 18px -6px rgba(0, 0, 0, 0.767);
    border-radius: 25px;
}

.back{
    /* width: 1004px;
    height: 650px; */
    /* position: absolute; */
    top: 100px;
    /* z-index: -2; */
    background: #000000;
    box-shadow: 16px 17px 18px -6px rgba(0, 0, 0, 0.52);
    border-radius: 25px;
    margin-top: 20px;
    }

.back-main{
    padding: 20px 45px 0px 45px;
    /* background-color: white; */
    display: flex;

}

.info-back{
    display: flex;
    flex-direction: column;
    color: white;
}
.info-back > a:first-child{
    margin-bottom: 5px;
    text-decoration: none;
    color: white;
}
.info-back > h4, .info-back > a:first-child, .info-back > .info-back-button{
    /* margin-left: -17px; */
    border: none;
    color: white;
    background: #141414;
    padding: 10px;
    text-align: center;
    box-shadow: 6px 7px 8px -6px rgba(0, 0, 0, 0.466);
    border-radius: 25px;
}
.info-back > section{
    /* background: #073d2d; */
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px 8px -6px rgba(0, 0, 0, 0.466);
    border-radius: 25px;    
    margin-bottom: 10px;
}
.hover-parent{
    position: relative;
}
.hover{
    position: absolute;
    top: 0;
    right: -20px;
    font-size: .75em;
    background: #031d15;
    padding: 10px;
    text-align: center;
    box-shadow: 6px 7px 8px -6px rgba(0, 0, 0, 0.466);
    border-radius: 15px;
    
    /* margin-bottom: 15px; */
}

.about-back{
    margin-left: 50px;
}
.about-back  textarea{
    background-color: #dfdfdfa1;
    border: none;
    box-shadow: 7px 7px 8px -2px black;
}

.burger, .btn-berger{
    background-color: transparent;
    margin-right: 20px;
    order: 3;
    border: none;
    width: 20px;
    display: none;
}
.chk{
    position: absolute;
    right: 10px;
    top: -5px;
    width: 20px;
    height: 50px;
    display: none;
}
@media screen and (max-width: 1000px){
    .topNav{
        height: 50px;
        position: fixed;
        width: 100%;
        top: 0;
    }
    .search-top > input{
        margin-top: 100px;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.822);
        display: none;
    }
    .links{
        position: absolute;
        top: -150px;
        right: -100px;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-right: 5px;
        /* background-color: rgba(0, 0, 0, 0.774); */
        background: #1b1b1bfb;
        padding: 20px 10px;
        /* box-sizing: border-box; */
        /* display: none; */
    }
    .links > a {
        box-sizing: border-box;
        padding: 10px;
        margin: 5px 0px;
        text-align: center;
        padding-right: 10px;
        width: 100%;
    }
    .links > a:hover{
        background-color: rgb(49, 49, 49);
        border: solid 1px rgb(219, 219, 219);
        border-width: 0px 1px;
    }
    .links >.user-top{
        background-color: transparent;
        width: 100%;
        text-align: center;
        border-radius: 0;
        color: white;
    }
    .btn-berger, .burger{
        display: inline-block;
    }
    .chk{
        display: inline-block;
        opacity: 0;
    }
    .chk:checked ~ .links{
        right: -5px;
    }
    .header{
        display: none;
    }
    .pictures{
        position: relative;
        z-index: -1;
    }
    .main-picture{
        position: absolute;
        width: 30%;
        height: 50%;
        bottom: 5px;
        left: 10px;
        border: solid 1px black;
        box-shadow: 16px 17px 18px -6px rgba(0, 0, 0, 0.897);
        margin: 0;
    }
    .second-picture{
        border-radius: 0;
        width: 100%;
        margin: 0;
    }
    .back{
        background-color: transparent;
        width: 100%;
        padding: 0;
        margin-top: 20px;
        border-radius: 0px;
    }
    .back-main{
        display: initial;
        padding: 0;
    }
    .about-back{
        margin: 0;
    }
    .about-back textarea{
        width: 100%;
    }
    .about-back p{
        text-align: center;
        color: rgba(255, 255, 255, 0.753);
    }
    .hover{
        right: 5px;
    }
    .info-back > h4, .info-back > a:first-child, .info-back > .info-back-button{
        border-radius: 0px;
    }
    .about-back > section> textarea{
        background-color: rgba(0, 0, 0, 0.911);
        color: white;
    }
}